<mat-card class="board" *ngIf="!isUpdateFormActive" [style.background-color]="'{{customColor}}'">
    <input class="settings" type="color" #color (click)="onClick(color.value)" />
    <!-- <button class="settings" mat-stroked-button color="primary" type="submit">
      <mat-icon>settings</mat-icon>
    </button> -->
  <mat-card-title [routerLink]="['/boards', board.id]" (click)="saveCurrentBoard()">{{ board.title }}</mat-card-title>
  <mat-card-content>
    <p>{{ board.description }}</p>
  </mat-card-content>
  <mat-card-actions class="board-btn-wrapper">
    <button mat-stroked-button color="primary" type="button" (click)="onDeleteClick(board.id)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-stroked-button color="primary" type="button" (click)="toggleUpdateForm()">
      <mat-icon> border_color</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>


<mat-card class="update-board" *ngIf="isUpdateFormActive">
  <mat-card-title>{{'board.updateBoard' | translate}}</mat-card-title>
    <form class="update-form" [formGroup]="updateForm">
      <mat-form-field class="form-input" appearance="fill">
        <mat-label>{{'board.newLabal' | translate}}</mat-label>
        <input matInput autocomplete="off" type="text" formControlName="title" placeholder="{{ board.title }}">
        <mat-error *ngIf="updateForm.invalid">{{'board.boardErrors.no-name-error' | translate}}</mat-error>
      </mat-form-field>
      <mat-form-field class="form-input" appearance="fill">
        <mat-label>{{'board.newDescription' | translate}}</mat-label>
        <input matInput autocomplete="off" type="text" formControlName="description" placeholder="{{ board.description }}">
      </mat-form-field>

      <div class="board-btn-wrapper">
        <button mat-button type="button" (click)="toggleUpdateForm()">
          {{'board.btn.cancel' | translate}}
        </button>
        <button mat-raised-button color="primary" type="button" (click)="updateBoard(board.id)" [disabled]="updateForm.invalid">
          {{'board.btn.update' | translate}}
        </button>
      </div>
    </form>
</mat-card>




