<mat-card  [routerLink]="['/boards', board.id]"
          (click)="saveCurrentBoard()"
          class="board"
          [style.background-color]="'{{customColor}}'"
>
    <input class="settings" type="color" #color (click)="onClick(color.value)" />
  <mat-card-title>{{ board.title }}</mat-card-title>
  <mat-card-content>
    <p>{{ board.description.slice(0, 50) }}</p>
  </mat-card-content>
  <mat-card-actions class="board-btn-wrapper">
    <button mat-stroked-button color="primary" type="button" class="btn-bg" (click)="deleteBoard(board.id); $event.stopPropagation()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-stroked-button color="primary" type="button" class="btn-bg" (click)="openUpdateForm(); $event.stopPropagation()">
      <mat-icon> border_color</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>





