@import "src/styles/variables";
@import "src/styles/mixins";


.form-input > div {
  padding: 0;
  margin: 0;
}

.board {
  border: 2px solid $lightgrey;
  width: 240px;
  height: 240px;
  box-shadow: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  .settings {
    align-self: flex-end;
    width: 30px;
  }
}

.update-board {
  border: 2px solid $lightgrey;
  width: 240px;
  height: 240px;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.mat-card-actions:last-child {
  margin-bottom: 0;
}

.update-form {
  padding: 5px;
  border-radius: 5px
}

.board-btn-wrapper {
  @include flex-center();
  gap: 10px;

  .mat-button:hover {
    border: 1px solid $black;
  }
}

.btn-bg {
  color: $blue;
}
