@import "src/styles/variables";

:host {
  flex-basis: 130px;
}

.column__title {
  position: relative;
  overflow-wrap: anywhere;
  color: $darkest-grey;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
    border: $edit-border;
    border-radius: 5px;
  }
}

.column__title-input {
  width: 124px;
  border: $edit-border;
  border-radius: 5px;
}

.column__title-error {
  line-height: 1em;
  font-size: 10px;
}
