@import "src/styles/mixins";

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.login-block {
  padding-bottom: 20px;
}

.password-block {
  padding-bottom: 50px;
}

.login-btn-wrapper {
  @include flex-center;
  gap: 20px;
}
