@import "src/styles/variables";
.footer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $green;
    &__logo{
        width: 150px;
    }
    &__link{
        color: $antiquewhite;
        text-decoration: none;
    }
}
