<footer class="footer">
    <a href="https://rs.school/angular/" target="_blank">
        <img class="footer__logo" src="./../../../../assets/img/rs-school-logo.svg" alt="rs-school logo">
    </a>
    <a class="footer__link" href="https://github.com/DDD-fx" target="_blank">{{'footer.names.d' | translate}}</a>
    <a class="footer__link" href="https://github.com/irynakolh" target="_blank">{{'footer.names.i' | translate}}</a>
    <a class="footer__link" href="https://github.com/alexsmirnova13" target="_blank">{{'footer.names.a' | translate}}</a>
    <p class="footer__year">2022</p>
</footer>
