<footer class="footer">
    <a href="https://rs.school/angular/" target="_blank">
        <img class="footer__logo" src="./../../../../assets/img/rs-school-logo.svg" alt="rs-school logo">
    </a>
    <a class="footer__link" href="https://github.com/DDD-fx" target="_blank">Dmitrii Khoroshkin</a>
    <a class="footer__link" href="https://github.com/irynakolh" target="_blank">Iryna Kolhanova</a>
    <a class="footer__link" href="https://github.com/alexsmirnova13" target="_blank">Aleksandra Smirnova</a>
    <p>2022</p>
</footer>
