@import "src/styles/variables";
@import "src/styles/mixins";

.create-board-btn {
  border: 2px solid $light-green;
  border-radius: 4px;
  width: 240px;
  height: 240px;
  background-color: $light-green;
  cursor: pointer;
}

.board {
  border: 2px solid $lightgrey;
  width: 240px;
  height: 240px;
  box-shadow: none;
  // padding: 21px 0px;
  text-align: center;
}

.mat-card-title {
  text-align: center;
}


.board-btn-wrapper {
  @include flex-center();
  gap: 10px;

  .mat-button:hover {
    border: 1px solid $black;
  }
}

