<div class="main-container">
  <h2 class="title">{{'board.title' | translate}}
    <mat-icon class="sort"  (click)="sortBoards()">sort_by_alpha</mat-icon>
  </h2>

  <app-loader *ngIf="isLoading$ | async"></app-loader>

  <cdk-virtual-scroll-viewport #scroller appendOnly itemSize="30" class="content">
    <section class="boards-list">
      <!-- <app-new-board></app-new-board> -->
      <div  *cdkVirtualFor="let board of boards$ | async | sort: order">
        <app-board-item [board]="board"></app-board-item>
      </div>
    </section>
  </cdk-virtual-scroll-viewport>
</div>
