@import "src/styles/mixins";
@import "src/styles/variables";

.main-container {

  &__title {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &__content {
    width: 80%;
    margin: 40px auto 30px auto;
    border-radius: $box-radius;
    background-color: $background;
    min-height: 400px;
    box-shadow: $shadow;
    padding: 20px 30px 20px 30px;
  }

  .boards-list {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(16.5rem, 1fr));
    height: min-content;
  }

  .board-area {
    margin-left: auto;
    margin-right: auto;
  }
}

.container {
   display: flex;
   justify-content: center;
   font-size: 3rem;
   list-style-type: none;
   gap: 20px;
   color: $dark-grey;

  .li {
    animation-name: bubbly;
    animation-duration: calc(var(--i) * 1s);
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
  }
 }

.container .boards {
  font-size: 2rem;
  padding: 0;
}

.boards {
  margin: 0;
  padding: 0;
}

@keyframes bubbly {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  70% {
    opacity: 1;
    transform: scale(1.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  &__sort-wrapper {
    width: 60px;
  }

  &__sort {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    color: $almost-black;
    border-color: transparent;
    transition: $transition;
  }

  &__sort:hover {
    border: $small-border;
    border-radius: $button-radius;
    box-shadow: $shadow;
    transition: $transition;
  }
}

.loader-area {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  padding: 20px 30px 20px 30px;
}

@media (max-width: 767px) {
  .panel {
    margin-left: 0;
  }

  .container {
    font-size: 2rem;
  }

  .content {
    padding: 20px 0 0 0;
  }
}
