@import "src/styles/mixins";
@import "src/styles/variables";

.main-container {
  height: 80vh;
  @include margin-center();

  .title {
    text-align: center;
    color: $blue;
    border-bottom: 2px solid $blue;
  }

  .boards-list {
    @include flex-full-screen();
    height: 90%;
    gap: 1rem;
    overflow-y: auto;
    // посторить грид сетку
  }
}

