<ng-container *ngIf="columns$ | async as columns">

    <div cdkDropList
         cdkDropListOrientation="horizontal"
         [cdkDropListData]="columns"
         (cdkDropListDropped)="dropColumn($event)"
         class="columns">
      <div cdkDrag *ngFor="let column of columns | columnOrderSorting" class="column">
        <div class="column-header">
          <span class="column-title">{{column.title}}</span>
          <mat-icon (click)="onDeleteColumn(column.id)" title="Delete">delete</mat-icon>
        </div>

          <app-task
            cdkDropList
            [cdkDropListData]="column.tasks"
            [tasks]="column.tasks"
            [cdkDropListConnectedTo]="(connectedLists$ | async)!"
            (cdkDropListDropped)="dropTask($event, column.id)"
            id="{{column.id}}">
          </app-task>

        <button mat-stroked-button color="primary" class="add-task-btn" (click)="createTaskPopup(column.id)">
          <mat-icon>add</mat-icon>
          {{'tasks.add-task' | translate}}
        </button>
      </div>
    </div>
</ng-container>

<button mat-stroked-button (click)="createColumnPopup()" class="create-column-btn">
  <mat-icon>add</mat-icon>
  {{'columns.add-column' | translate}}
</button>

<!--<form (submit)="onCreateColumn()" [formGroup]="newColumnForm">-->
<!--  <mat-form-field *ngIf="addColumn" appearance="standard" class="add-column-form">-->
<!--    <mat-label>{{'columns.input-title' | translate}}</mat-label>-->
<!--    <input matInput autocomplete="off" class="add-column-input" formControlName="columnName" maxlength="50">-->
<!--  </mat-form-field>-->
<!--  <button *ngIf="addColumn" mat-flat-button color="primary"-->
<!--          class="add-column-btn" type="submit"-->
<!--          [disabled]="newColumnForm.invalid">-->
<!--    {{'columns.add-new-column' | translate}}-->
<!--  </button>-->
<!--  <button *ngIf="addColumn" mat-stroked-button (click)="onCancelAddColumn()" class="delete-column-btn">-->
<!--    <mat-icon>clear</mat-icon>-->
<!--  </button>-->
<!--</form>-->

