@import "src/styles/variables";
@import "src/styles/mixins";

.main-container {
  height: calc(100vh - 210px);
  //margin: 1rem 2%;
  background-color: $background;
  padding: 20px 10px 20px 20px;
}
//@media (min-width:768px) and (max-width: 1279px){
//  .main-container {
//    height: calc(100vh - 170px);
//  }
//}
@media (max-width: 767px) {
  .main-container {
    height: calc(100vh - 242px);
    padding: 0;
  }
}

.columns-container {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  overflow-y: hidden;
  //height: 60vh;
}

.icon {
  color: $darkest-grey;
}

.icon:hover {
  color: $green;
}

.columns {
  font-family: cursive;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-left: 25px;
}

.all-tasks {
  font-family: cursive;
  display: block;
  overflow-y: auto;
}

.column {
  width: 200px;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px 20px;
  background-color: $green-tran;
  border-radius: 20px;
  max-height: calc(60vh - 50px);

  &__header {
    width: 190px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    cursor: pointer;
  }
}

mat-form-field {
  display: block;
  width: 215px;
}

mat-icon {
  line-height: 0.9;
}

.add-task-btn {
  color: $darkest-grey;
}

.add-task-btn:hover {
  border-color: $blue;
}

.add-column-btn {
  margin-right: 10px;
}

.create-column-btn {
  flex: 0 0 200px;
  height: 45px;
  margin-right: 5px;
  background-color: $blue;
  color: $almost-white;
}

.create-column-btn:hover {
  border-color: $blue;
  color: $almost-black;
  background-color: transparent;
}

.add-column-btn,
.delete-column-btn {
  top: -10px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: $blue;
    font-family: cursive;
    height: 20px;
  }
  .mat-form-field-ripple {
    background-color: $blue;
    font-family: cursive;
  }
  .mat-form-field-required-marker {
    color: $blue;
    font-family: cursive;
  }
  .mat-input-element {
    color: $blue;
  }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
  .mat-input-element {
    color: red;
    font-family: cursive;
  }
  .mat-form-field-label {
    color: red;
    font-family: cursive;
    height: 17px;
    .mat-form-field-required-marker {
      color: red;
      font-family: cursive;
    }
  }
  .mat-form-field-ripple {
    color: red;
    font-family: cursive;
  }
}

:host::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #F5F5F5;
  border-radius: 10px;

}

:host::-webkit-scrollbar {
  width: 5px;
  background-color: $light-green;
  border-radius: 10px;
  height: 5px;
}

:host::-webkit-scrollbar-thumb {
  border-radius: 10px;
  width: 25px;
  background-color: #FFF;
  background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from($light-blue),
  )
}

:host::-webkit-scrollbar-thumb:active {
  background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from($blue),
  )
}

:host::-webkit-scrollbar-thumb:hover {
  background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from($blue),
  )
}
//@media (min-width:768px) and (max-width: 1279px) {
//  :host {
//    height: 50vh;
//  }
//
//  .column {
//    max-height: calc(49vh - 36px);
//  }
//
//  .columns {
//    margin-left: 10px;
//  }
//}

@media (max-width: 768px) {
  :host {
    height: 50vh;
  }

  .column {
    max-height: calc(49vh - 36px);
  }

  .columns {
    margin-left: 10px;
  }
}
