<form class="search-form" [formGroup]="searchInput">
  <div class="input-area">
    <input
      matInput
      formControlName="search"
      type="text"
      placeholder="{{'search.input' | translate}}"
      name="search"
      autocomplete="off"
      (keyup.enter)="searchTasks()">
  </div>

  <div class="button-area">
    <button mat-raised-button [disabled]="searchInput.get('search')?.pristine">
      <mat-icon class="btn-bg" (click)="searchTasks()">search</mat-icon>
    </button>
  </div>
</form>
