@import "src/styles/variables";
@import "src/styles/mixins";

:host {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}

.empty-task-box {
  width: 185px;
  height: 50px;
  @include flex-center();
  border: $edit-border;
  color: $grey;
}

.task-card {
  width: 185px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 5px;
  background-color: $task-background;
  cursor: pointer;

  &__edit,
  &__arrows {
    display: none;
  }

  &:hover {
    .task-card__edit,
    .task-card__arrows {
      display: block;
      position: absolute;
      font-size: 1.2em;
      right: 5px;
    }

    .task-card__edit {
      top: 3px;
    }

    .task-card__arrows {
      top: 25px;
    }
  }

  &__subtitle {
    font-size: 0.9em;
    color: $grey;
  }

  &__title,
  &__subtitle {
    max-width: 160px;
    overflow-wrap: anywhere;
  }

  &__delete-btn {
    align-self: flex-end;
  }

  &__delete-btn,
  &__edit-btn {
    cursor: pointer;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
