<ng-container *ngIf="tasks.length === 0">
  <div class="empty-task-box">
    Drop Zone
  </div>
</ng-container>
<ng-container *ngFor="let task of tasks | taskOrderSorting" class="tasks">
  <mat-card class="task-card" cdkDrag (click)="onEditTask(task.id)" [attr.data-after]="'tasks.edit-after' | translate">
    <div class="task-card__title">{{task.title}}</div>
    <div class="task-card__subtitle">{{task.description}}</div>
    <mat-icon class="task-card__delete-btn" title="{{'columns.delete' | translate}}" (click)="onDeleteTask(task.id, $event)">delete</mat-icon>
  </mat-card>
</ng-container>
