@import "src/styles/variables";
@import "src/styles/mixins";

mat-form-field {
  padding-bottom: 10px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.board-btn-wrapper {
  @include flex-center();
  gap: 10px;

  .mat-button:hover {
    border: 1px solid $black;
  }
}

.btn-bg {
  color: $blue;
}

