header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 128, 64);
    img{
        width: 50px;
        margin: 10px 20px 10px 20px ;
    }
    .controls{
        display: flex;
        flex-direction: row; 
        width: 300px;
        justify-content: space-between;
    }
    .toggle{
        display: flex;
        align-items: center;
    }
}