<header class="header">
    <a>
        <img class="header__logo" (click)="onLogoClick()" src="https://cdn-icons-png.flaticon.com/512/567/567014.png" alt="logo">
    </a>
    <a>
        <img class="header__home" (click)="onLogoClick()" src="https://cdn-icons-png.flaticon.com/512/1688/1688109.png" alt="home">
    </a>
    <button mat-raised-button color="primary">Create new board</button>
    <div class="header__controls">
        <div class="header__toggle">
            <span class="">EN</span><mat-slide-toggle color="primary" (click)="changeLang()">RU</mat-slide-toggle>
        </div>

        <ng-container *ngIf="(isLoggedStore$ | async ); then thenBlock else elseBlock">

        </ng-container>
        <ng-template class="header__buttons" #elseBlock >
            <a [routerLink]="['signIn']" class="">
                <button mat-raised-button color="primary" class="">{{'header.signIn-btn' | translate}}</button>
            </a>
            <a [routerLink]="['signUp']" class="">
                <button mat-raised-button color="primary" class="">{{'header.signUp-btn' | translate}}</button>
            </a>
        </ng-template>

        <ng-template #thenBlock class="header__exit">
            <p class="header__user-name">{{userName$ | async}}</p>
            <div class="dropdown">
                <a>
                    <img class="header__settings" alt="settings" src="https://cdn-icons-png.flaticon.com/512/54/54512.png">
                </a>
                <div class="dropdown-content">
                  <a (click)="deleteUser()" href="#">Delete User</a>
                  <a [routerLink]="['userEdit']">{{'header.edit-profile' | translate}}</a>
                  <a href="#">Link 3</a>
                  <a href="#">Edit profile</a>
                </div>
            </div>

            <button mat-raised-button color="primary" (click)="logout()">Exit</button>

        </ng-template>

    </div>
</header>

