@import "src/styles/variables";
@import "src/styles/mixins";

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: $green;

    &__logo{
        width: 50px;
        margin: 10px 20px 10px 20px;
        cursor: pointer;
    }

    &__controls{
        display: flex;
        flex-direction: row;
        width: 300px;
        justify-content: space-between;
    }

    &__toggle{
        display: flex;
        align-items: center;
    }

    &__home{
        width: 40px;
        margin: 10px 20px 10px 20px;
        cursor: pointer;
    }

    &__settings {
        width: 20px;
        margin: 10px 20px 10px 20px;
        display: flex;
        flex-direction: row;
    }

    &__user-name{
        padding-top: 10px;
        color: $antiquewhite;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: $light-ocean;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: $black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: $light-pink;}

.dropdown:hover .dropdown-content {display: block;}

//.btn:after {
//  @include button-after();
//}
//.btn:hover:after {
//  @include button-hover-after();
//}
//.btn:active {
//  @include button-active();
//}

