$blue: #2294bf;
$white: #ffffff;
$black: #000000;
$grey: #6b6969;
$green: #5e7740;
//  #618B4A #748E54  #3E5622!
$lightgrey: #d3d3d3;
$almost-white: #fcf9fc;
$antiquewhite: antiquewhite;
$light-blue: #97A1A9;
$light-pink: #B89D9C;
$light-ocean: #9CB7B8;
$light-green: #9CB8AB;
$yellow: #DBB479;
$background: #e7f6d1;
$green-text: #3e5622;
$dark-grey: #475a63;
$darkest-grey: #222b2f;
$almost-black: #131618;
$loader-transparent-background: rgba(231, 246, 209, 0.15);

$columns-border-radius: 5px;
$column-background: rgba(0, 0, 0, 0.15);
$task-background: rgba(255, 255, 255, 0.7);
$edit-border: 1px dashed $grey;
