@import "src/styles/mixins";
@import "src/styles/variables";

.main-container {
  height: 80vh;
  margin: 1rem 2%;

  .title {
    text-align: center;
    color: $blue;
    border-bottom: 2px solid $blue;
  }
  .arrow {
    position: absolute;
    left: 10%;
  }

}
