@import "src/styles/mixins";
@import "src/styles/variables";

.member-card {
  max-width: 80%;
  @include card();

  &__img {
    width: 90%;
    margin: 20px 0 20px 0;
  }
}

.link {
  @include link();
  font-weight: bold;
}

.link::after {
  @include link-after();
}

.link:hover::after {
  @include link-hover-after();
}

.link:hover {
  @include link-hover
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
  height: 100px;

  p {
    color: $darkest-grey;
    text-align: center;
    padding-top: 10px;
  }

  a {
    color: $darkest-grey;
  }

}

.card__text {
  text-align: center;
}

@media (max-width: 767px) {
  .member-card {
    margin-bottom: 20px;
    max-width: 95%;
  }
}
